{{- $email := get . "email" -}}
{{- if not $email -}}
{{- $email = promptString "email" -}}
{{- end -}}
{{- $personal := get . "personal" -}}
{{- if kindIs "string" $personal -}}
{{- $personal = promptBool "personal" -}}
{{- end -}}

{{- $keepassDatabasePath := "" -}}
{{- $keepassKeyFilePath := "" -}}
{{- if $personal -}}
{{- $keepassDatabasePath = get . "keepassdatabasepath" -}}
{{- if not $keepassDatabasePath -}}
{{ $keepassDatabasePath = promptString "keepass database path" -}}
{{- end -}}
{{- $keepassKeyFilePath = get . "keepasskeyfilepath" -}}
{{- if not $keepassKeyFilePath -}}
{{ $keepassKeyFilePath = promptString "keepass key file path" -}}
{{- end -}}
{{- end -}}

umask = 0o22

[data]
email = '''{{ $email }}'''
personal = {{ $personal }}
{{ if $personal -}}
keepassDatabasePath = '''{{ $keepassDatabasePath }}'''
keepassKeyFilePath = '''{{ $keepassKeyFilePath }}'''
{{- end }}

{{ if $personal -}}
[keepassxc]
{{ if lookPath "keepassxc.cli" -}}
command = "keepassxc.cli"
{{- end }}
args = ["--key-file", '''{{ $keepassKeyFilePath }}''']
database = '''{{ $keepassDatabasePath }}'''
{{- end }}
